#admin-score-report {
    .close-button {
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 1rem;
        color: #fff;
        cursor: pointer;
    }
    .report-general-menu {
        p {
            padding: 0 0.5rem;
            white-space: nowrap;
        }
        i {
            padding: 0 0.5rem;
        }
    }
    .column {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
      }
    .column.editable {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .table-header {
        td {
            white-space: nowrap;
        }
    }
}